.banner {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 280px;
  background-color: blue;
  color: white;
}

.banner.dark {
  background-color: black;
}

.banner > picture {
  line-height: 0;
}

.banner > picture,
.banner > picture img {
  width: 100%;
  height: 100%;
}

.banner > picture img {
  display: block;
  object-fit: cover;
}

.banner .banner-content {
  display: flex;
  align-items: center;
  padding: 32px 24px;
}

.banner h2 {
  margin: 0;
  color: inherit;
}

@media (width >= 600px) {
  .banner {
    grid-template-columns: 1fr 1fr;
  }

  .banner .banner-content {
    padding: 48px 40px;
  }
}